@model mvcProyectoWeb.Models.Almacen
@{
    ViewData["Title"] = "Crear almacen";
}
<br />
<h3 class="text-center">Crear un nuevo almacen</h3>
<form method="POST" asp-action="Create">
    <div class="row px-2 offset-1 Border">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"> *@
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div class="col-10 offset-1 mt4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NombreAlmacen"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NombreAlmacen" class="form-control" placeholder="Ingresa el Nombre" />
                    <span asp-validation-for="NombreAlmacen" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Direccion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Direccion" class="form-control" placeholder="Ingresa la Direccion" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UrlImagen"></label>
                </div>
                <div class="col-8">
                    <input asp-for="UrlImagen" class="form-control" placeholder="Ingresa la imagen" />
                    <span asp-validation-for="UrlImagen" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Orden"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Orden" class="form-control" placeholder="Ingresa el orden de aparicion" />
                    <span asp-validation-for="Orden" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
