@model mvcProyectoWeb.Models.Almacen
@{
    ViewData["Title"] = "Editar almacen";
}
<h3 class="text-center">Editar almacen</h3>
<form method="POST" asp-action="Edit">
    <div class="row px-2 offset-1 Border">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div class="col-10 offset-1 mt4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NombreAlmacen"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NombreAlmacen" class="form-control" placeholder="Ingresa el Nombre" />
                    <span asp-validation-for="NombreAlmacen" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Direccion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Direccion" class="form-control" placeholder="Ingresa la Direccion" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UrlImagen"></label>
                </div>
                <div class="col-8">
                    <input asp-for="UrlImagen" class="form-control" placeholder="Ingresa la imagen" />
                    <span asp-validation-for="UrlImagen" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Orden"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Orden" class="form-control" placeholder="Ingresa el Orden" />
                    <span asp-validation-for="Orden" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Editar Almacen</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
                </div>
            </div>

        </div>
    </div>
</form>
